---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

Academic Positions 
===================

* Rice University, Department of Statistics, Graduate Student, Graduate Research Assistant, May 2020-December 2021
* University of Texas-Pan American, Department of Mathematics, Graduate Student, Graduate Research Assistant, November 2013-May 2014

**Note:** (UG) stands for undergraduate course.  (G) stands for graduate course.  

<!-- 
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->

